main.input section.user-input {
    position: relative;
    width: 100%;
    max-width: 512px;
    padding: var(--uxsmall);
    display: flex;
    gap: var(--uxsmall);
    flex-direction: column;
    align-items: center;
    background-color: #4442;
    border-radius: var(--uxsmall);
    backdrop-filter: blur(8px);
}

main.input section.user-input h1 {
    color: var(--color-secondary);
    font-size: var(--font-large);
}

main.input section.user-input form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--uxsmall);
}

.file-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.file-input label {
    font-weight: bold;
    color: #aaa;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropzone input[type="file"] {
    display: none;
}

.file-name {
    margin-top: 0.5rem;
    font-style: italic;
    color: #666;
}

main.input section.user-input button {
    padding: var(--uxxsmall);
    min-width: var(--uxxlarge);
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--uxsmall);
    font-weight: 700;
    align-self: flex-end;
    display: grid;
    place-items: center;

}

main.input section.user-input button span {
    flex-grow: 1;
}

main.input section.loading {
    position: absolute;
    background-color: var(--color-secondary);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 100%;
    transform: scale(0);
    border-radius: var(--uxsmall);
}

main.input section.loading>.screen {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 100%;
    transform: scale(0);
    background-color: #252525;
    display: grid;
    place-items: center;
    align-content: center;
    gap: var(--uxsmall);
}